@model Nordic_Align_V7.Models.WarehouseModel

@{
    // Ställ in titeln beroende på om modellen är tom eller inte
    ViewData["Title"] = Model != null && Model.Id != 0 ? "Ändra lager" : "Lägg till lager";
}

<section class="lager">
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    
    <div class="box">
        <div class="square" style="--i:0;"></div>
        <div class="square" style="--i:1;"></div>
        <div class="square" style="--i:2;"></div>
        <div class="square" style="--i:3;"></div>
        <div class="square" style="--i:4;"></div>

        

        <div class="container">
            <div class="form">

                <h2 >@ViewData["Title"]</h2>

                <form asp-action="@(Model != null && Model.Id != 0 ? "Edit" : "Create")" method="post" class="needs-validation" novalidate>
                    <input type="hidden" asp-for="Id" />

                    <div class="inputBox">
                        <label asp-for="Name" class="label"></label>
                        <div class="inputBox-content">
                            <input asp-for="Name" class="form-control" aria-label="name" />
                            <span style="color:red;" asp-validation-for="Name" data-valmsg-for="Name" class="text-danger" aria-live="polite"></span>

                        </div>
                    </div>

                    <div class="inputBox">
                        <label asp-for="Address" class="label"></label>
                        <div class="inputBox-content">
                            <input asp-for="Address" class="form-control" aria-label="address" />
                            <span style="color:red;" asp-validation-for="Address" data-valmsg-for="Address" class="text-danger" aria-live="polite"></span>

                        </div>
                    </div>

                    <div class="inputBox">
                        <label asp-for="Phone" class="label"></label>
                        <div class="inputBox-content">
                            <input asp-for="Phone" type="text" class="form-control" aria-label="phone" />
                            <span style="color:red;" asp-validation-for="Phone" data-valmsg-for="Phone" class="text-danger" aria-live="polite"></span>

                        </div>
                    </div>

                    <div class="inputBox">
                        <label asp-for="Capacity" class="label"></label>
                        <div class="inputBox-content">
                            <input asp-for="Capacity" class="form-control" aria-label="capacity" />
                            <span style="color:red;" asp-validation-for="Capacity" data-valmsg-for="Capacity" class="text-danger" aria-live="polite"></span>

                        </div>
                    </div>

                    <div class="inputBox inputButton-group">
                        <div class="inputBox-btn">
                            <button type="submit" class="button-primary btn-submit" aria-label="Save" >Spara</button>
                            <a asp-action="Index" class="button-secondary btn-submit" aria-label="Close">Avboka</a>
                        </div>
                    </div>
                </form>
            </div>

           
        </div>
    
    </div>


    

</section>




<script defer src="~/js/warehouse_validation.js"></script>

<script defer src="~/js/main.js"></script>

