@model Nordic_Align_V7.ViewModels.RegisterViewModel


<section class="contact-form">
    <div class="container">
        <div class="title">Register new account</div>

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                <ul>
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <li>@error.ErrorMessage</li>
                    }
                </ul>
            </div>
        }

        <form method="post" id="registerForm" novalidate asp-controller="Account" asp-action="Register" onsubmit="return validateForm(event);">
            <table>
                
                <tr>
                    <td><label asp-for="FirstName"></label></td>
                </tr>
                <tr>
                    <td><input asp-for="FirstName" id="FirstName" data-val="true"  class="form-control" /></td>
                    <td style="color:red;">
                        <span asp-validation-for="FirstName" data-valmsg-for="FirstName" class="text-danger"></span>
                    </td>
                </tr>


                <tr>
                    <td><label asp-for="LastName"></label></td>
                </tr>
                <tr>
                    <td><input asp-for="LastName" id="LastName" data-val="true"  class="form-control" /></td>
                    <td style="color:red;">
                        <span asp-validation-for="LastName" data-valmsg-for="LastName"  class="text-danger"></span>
                    </td>
                </tr>

                <tr>
                    <td><label asp-for="Email"></label></td>
                </tr>
                <tr>
                    <td><input asp-for="Email" id="Email" data-val="true" class="form-control" /></td>
                    <td style="color:red;">
                        <span asp-validation-for="Email" data-valmsg-for="Email"  class="text-danger"></span>
                    </td>
                </tr>

                <tr>
                    <td><label asp-for="Password"></label></td>
                </tr>
                <tr>
                    <td><input asp-for="Password" type="password" data-val="true" id="Password" class="form-control" /></td>
                    <td style="color:red;">
                        <span asp-validation-for="Password" data-valmsg-for="Password" class="text-danger"></span>
                    </td>
                </tr>

                <tr>
                    <td><label asp-for="ConfirmPassword"></label></td>
                </tr>
                <tr>
                    <td><input asp-for="ConfirmPassword" type="password" data-val="true"  id="ConfirmPassword" class="form-control" /></td>
                    <td style="color:red;">
                        <span asp-validation-for="ConfirmPassword" data-valmsg-for="ConfirmPassword"  class="text-danger"></span>
                    </td>
                </tr>
            </table>
            <button class="btn-theme" type="submit">Register</button>
        </form>

        @if (!string.IsNullOrEmpty(ViewBag.RegisterFail))
        {
            <div style="color:red;">@ViewBag.RegisterFail</div>
        }
    </div>
</section>


<script defer src="~/js/validation.js"></script>

