@model Nordic_Align_V7.ViewModels.RegisterViewModel


<section class="contact-form">
    <div class="container register">
        <span> </span>
        <span> </span>
        <span> </span>

       

        <form method="post" class="signup" id="signupForm" asp-controller="Account" asp-action="Register" onsubmit="return validateForm(event);" novalidate>
            <h2>Registration</h2>
            
            <div class="inputBox">
                <input asp-for="FirstName" type="text" id="FirstName" data-val="true" class="form-control" placeholder="First name">
                <span style="color:red;"  asp-validation-for="FirstName" data-valmsg-for="FirstName" class="text-danger"></span>
            </div>

            <div class="inputBox">
                <input asp-for="LastName" type="text" id="LastName" data-val="true" class="form-control" placeholder="Last name">
                <span style="color:red;"  asp-validation-for="LastName" data-valmsg-for="LastName" class="text-danger"></span>
            </div>

            <div class="inputBox">
                <input asp-for="Email" type="email"  id="Email" data-val="true" class="form-control" placeholder="Email">
                <span style="color:red;"  asp-validation-for="Email" data-valmsg-for="Email" class="text-danger"></span>
            </div>

            <div class="inputBox">
                <input asp-for="Password" type="password" data-val="true" id="Password" class="form-control" placeholder="Create Password">
                <span style="color:red;"  asp-validation-for="Password" data-valmsg-for="Password" class="text-danger"></span>
            </div>
            <div class="inputBox">
                <input asp-for="ConfirmPassword" type="password" data-val="true" id="ConfirmPassword" class="form-control"  placeholder="Confirm Password">
                <span style="color:red;"  asp-validation-for="ConfirmPassword" data-valmsg-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="inputBox group">
                <p>Already have an Account?</p>
                
                <a asp-controller="Account" asp-action="Login" id="login">Login</a>

            </div>

            <div class="inputBox">
                <input type="submit" value="Register ">

                
            </div>         
            
        </form>

        @if (!string.IsNullOrEmpty(ViewBag.RegisterFail))
        {
            <div style="color:red;">@ViewBag.RegisterFail</div>
        }
    </div>
</section>
<style>

    @@keyframes animate {
        0% {
            --a: 0deg; 
        }

        100% {
            --a: 360deg;
        }
    }

    @@property --a {
        syntax: '<angle>';
        inherits: false;
        initial-value: 0deg;
    }

    .contact-form .register::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: repeating-conic-gradient(from var(--a), #45f3ff 0%, #45f3ff 10%, transparent 10%, transparent 80%, #45f3ff 100%);
        border-radius: 20px;
        animation: animate 2.5s linear infinite;
        filter: hue-rotate(140deg);
    }
</style>

<script defer src="~/js/validation.js"></script>

