@{
    ViewData["Title"] = "Error";
}


<section id="error">

    <div class="container">
        <h1 class="title">Ooops!</h1>
        <p>The page you are looking for is not available.</p>
        <div class="content">

            <a class="btn-theme-s" asp-action="Index" asp-controller="Home"> Go to homepage</a>
        </div>
        <img src="https://nordicimagestorage.blob.core.windows.net/files/error.jpg" alt="404 error" />

       
        
    </div>
</section>
