@{
    ViewData["Title"] = Nordic_Align_V7.Resources.Resource.Fel;
}


<section id="error">

    <div class="container">
        <h1 class="title">@Nordic_Align_V7.Resources.Resource.Hoppsan</h1>
        <p>@Nordic_Align_V7.Resources.Resource.Sidanduletarefter</p>
        <div class="content">

            <a class="btn-theme-s" asp-action="Index" asp-controller="Home">@Nordic_Align_V7.Resources.Resource.Gåtillstartsidan</a>
        </div>
        <img src="https://nordicimagestorage.blob.core.windows.net/files/error.jpg" alt="404 error" />

       
        
    </div>
</section>
