@{
    ViewData["Title"] = "Home Page";
}

<div class="hero" style="background: url('/images/Trucks.png') no-repeat center center; background-size: cover; height: 60vh; color: white; display: flex; align-items: center; justify-content: center; text-align: center;">
    <div class="container">
        <h1 class="display-4">Välkommen till vårt logistikföretag!</h1>
        <p class="lead">Vi erbjuder pålitliga och effektiva lösningar för er logistik</p>
    </div>
</div>

<!-- Om företaget -->
<div class="container my-5">
    <h2 class="text-center mb-4">Om företaget</h2>
    <p class="text-center">Vårt företag har varit verksamt inom logistik och godstransporter. Vi garanterar högkvalitativ service och ett individuellt tillvägagångssätt för varje kund.</p>
    <div class="text-center ">
        <a href="/Order/Create" class="btn btn-primary btn-lg mt-3 mb-3">Lägg en beställning</a>
    </div>
    <p class="text-center">Förregistrera mottagaren av försändelsen</p>
    <div class="text-center">
        <a href="/Recepient/Create" class="btn btn-primary btn-lg mt-3">Mottagare</a>




    </div>
</div>

<!-- Våra tjänster -->
<div class="services">
    <div class="container">
        <h2 class="text-center mb-4">Våra tjänster</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Godstransporter</h5>
                        <p class="card-text">Snabb och säker leverans av gods över hela landet.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Lagerhantering</h5>
                        <p class="card-text">Pålitlig förvaring och hantering av dina varor på lager.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Konsultationer</h5>
                        <p class="card-text">Professionella råd inom logistik och transport.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Fördelar -->
<div class="container my-5">
    <h2 class="text-center mb-4">Fördelar</h2>
    <ul class="list-group">
        <li class="list-group-item">Prisvärda tjänster</li>
        <li class="list-group-item">Professionellt team</li>
        <li class="list-group-item">Flexibilitet och individuell anpassning</li>
        <li class="list-group-item">Modern utrustning</li>
    </ul>
</div>