@{
    ViewData["Title"] = "Home Page";

}

<section class="layers" id="home">



    <div class="layers__container">

        <div class="layers__item layer-1" style="background-image: url('@Url.Content("https://nordicimagestorage.blob.core.windows.net/files/layer-1.jpg")');"></div>
        <div class="layers__item layer-2" style="background-image: url('@Url.Content("https://nordicimagestorage.blob.core.windows.net/files/layer-2.png")');"></div>


        <div class="layers__item layer-3">
            <div class="hero-content">

                <h1>Nordic Align </h1>
                <div class="hero__content-p">Supply Chain Consulting AB</div>

            </div>
        </div>
        <div class="layers__item layer-4">
            <canvas class="rain"></canvas>
        </div>
        <div class="layers__item layer-1" style="background-image: url('@Url.Content("https://nordicimagestorage.blob.core.windows.net/files/layer-5.png")');"></div>
        <div class="layers__item layer-2" style="background-image: url('@Url.Content("https://nordicimagestorage.blob.core.windows.net/files/layer-6.png")');"></div>

    </div>
</section>



<section class="about" id="about">
    <div class="section">
        <div class="section__data">
            <h2 class="section__title">Om oss</h2>
            <p class="section__text">Vi har ett uppdrag att leverera oöverträffad expertis för att optimera våra kunders försörjningskedje operationer, vilket främjar deras tillväxt och framgång på global nivå.</p>
            <p class="section__text">Våra affärsmål och vår strategi innebär att vi arbetar genom en väl definierad metod, vilket gör det möjligt för oss att bana väg för våra kunders framgång samtidigt som vi maximerar effekten av våra tjänster.</p>
            <p class="section__text">Våra produkter omfattar ett utbud av konsulttjänster för optimering av försörjningskedjan, vilka används för att säkerställa att utbudets fungerar smidigt och resulterar i lägre kostnader samt en snabbare produktions- och leveranscykel.</p>
        </div>

        <img src="https://nordicimagestorage.blob.core.windows.net/files/Truck7.png" alt="" class="section__img">
    </div>
</section>


<section class="why" id="why_us">
    <div class="container">
        <div class="why__inner">
            <h2 class="why__title">Tjänster</h2>
            <p class="why__paragraph">Ett baspaket erbjuds tillsammans med tilläggstjänster såsom framtida färdplanering, IT-lösningar, optimering, analys och andra mervärdestjänster. Vi erbjuder dessutom följande tjänster till fast pris inom paketlösningar:</p>
            <div class="why__grid">
                <p class="why__list">Standard erbjudande paket;</p>
                <p class="why__list">Fullständigt paket;</p>
                <p class="why__list">Fullständigt erbjudande paket Deluxe;</p>
                <p class="why__list">Prestanda utvärdering;</p>
                <p class="why__list">CX transformations strategi;</p>
                <p class="why__list">Omdesign av tjänster;</p>
                <p class="why__list">Driftsanalys;</p>
                <p class="why__list">Skräddarsydda IT-lösningar;</p>
                <p class="why__list">Data AI-lösningar;</p>
                <p class="why__list">Enterprise Performance Management (EPM);</p>
                <p class="why__list">Strategi implementering;</p>
                <p class="why__list">Framtida färdplanering;</p>
                <p class="why__list">Efterfråge prognos;</p>
                <p class="why__list">Lager hantering;</p>
                <p class="why__list">Tjänste hantering;</p>
                <p class="why__list">Logistik hantering;</p>
                <p class="why__list">Inköps lösningar;</p>
                <p class="why__list">Drifts hantering;</p>
            </div>

            
            


        </div>
    </div>
    <div class="overlay"></div>
</section>


<section class="contact" id="contact">
    <div class="container">
        <div class="contact__inner">
            <form class="contact__form" action="" novalidate>

                <div id="form-message" class="form-message"></div>


                <h2 class="contact__form-title">Contact</h2>
                <div class="contact__form-row">
                    <div class="contact__form-inputbox">
                        <i class="bi bi-person"></i>
                        <input type="text" placeholder=" " id="name" required>

                        <label for="name">Name</label>
                    </div>

                    <div class="contact__form-inputbox">
                        <i class="bi bi-envelope"></i>
                        <input type="email" id="email" placeholder=" " required>

                        <label for="email">Email</label>
                    </div>
                </div>

                <div class="contact__form-inputbox contact__form-textarea">
                    <i class="bi bi-pen"></i>
                    <textarea id="message" name="message" rows="3" cols="50" required></textarea>

                    <label for="message">Message</label>
                </div>

                <button class="button-primary contact__form-btn" type="submit">Submit</button>
            </form>
        </div>
    </div>
</section>



<script>
    //cansel rain animation för litten skärm
    let rainAnimation;

    function loadRainScript() {
      let canvas = document.querySelector(".rain");

      if (window.innerWidth > 1024) {
        if (!document.querySelector('script[src*="rain.js"]')) {
          let script = document.createElement("script");
          script.src = "./js/rain.js?v=" + new Date().getTime();
          script.async = true;
          script.classList.add("rain-script");
          document.body.appendChild(script);

          script.onload = () => {
            if (typeof animateRain === "function") {
              rainAnimation = requestAnimationFrame(animateRain);
            }
          };
        }

        if (!canvas) {
          let newCanvas = document.createElement("canvas");
          newCanvas.classList.add("rain");
          document.querySelector(".layers__item.layer-4").appendChild(newCanvas);
        }

      } else {

        cancelAnimationFrame(rainAnimation);

        let rainScript = document.querySelector(".rain-script");
        if (rainScript) {
          rainScript.remove();
        }


        if (canvas) {
          let ctx = canvas.getContext("2d");
          ctx.clearRect(0, 0, canvas.width, canvas.height);
          canvas.remove();
        }
      }
    }

    document.addEventListener("DOMContentLoaded", loadRainScript);
    window.addEventListener("resize", loadRainScript);
</script>

<script src="js/main.js"></script>
<script src="~/js/app.js"></script>
<script src="~/js/contact_validation.js"></script>

<!-- RELLAX JS -->
<script src="~/js/rellax.min.js"></script>

<!-- GSAP -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>

<!-- SCROLL REVEAL -->
<script src="https://unpkg.com/scrollreveal"></script>

<!-- Scrolling JS -->
<script src="~/js/scrolling.js"></script>