
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::before, ::after {
    box-sizing: border-box;
}


.wrapper {
    height: 100vh;
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr auto;
}

.hide {
    display: none !important;
}


input:-webkit-autofill {
    background-color: transparent !important;
    color: #fff !important;
}

input:-moz-autofill {
    background-color: transparent !important;
    color: #fff !important;
}

input:-ms-input-placeholder {
    background-color: transparent !important;
    color: #fff !important;
}

input:focus:-webkit-autofill {
    background-color: transparent !important;
    color: #fff !important;
}

input:focus:-moz-autofill {
    background-color: transparent !important;
    color: #fff !important;
}

input:focus:-ms-input-placeholder {
    background-color: transparent !important;
    color: #fff !important;
}