@model Nordic_Align_V7.Models.CourierModel

@{
    // Ställ in titeln beroende på om modellen är tom eller inte
    ViewData["Title"] = Model != null && Model.Id != 0 ? "Förändra kurir" : "Lägg till kurir";
}





<section class="courier">
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
        <div class="box">
            <div class="square" style="--i:0;"></div>
            <div class="square" style="--i:1;"></div>
            <div class="square" style="--i:2;"></div>
            <div class="square" style="--i:3;"></div>
            <div class="square" style="--i:4;"></div>
            

               <div class="container">
                    <div class="form">
                        <h2>@ViewData["Title"]</h2>

                        <form asp-action="@(Model != null && Model.Id != 0 ? "Edit" : "Create")" method="post" class="needs-validation" novalidate>
                            <input type="hidden" asp-for="Id" />

                            <div class="inputBox">
                                <label asp-for="FullName" class="label"></label>
                                <div class="inputBox-content">
                                    <input asp-for="FullName" class="form-control" />
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="inputBox">
                                <label asp-for="Personnummer" class="label"></label>
                                <div class="inputBox-content">
                                    <input asp-for="Personnummer" class="form-control" />
                                    <span asp-validation-for="Personnummer" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="inputBox">
                                <label asp-for="EmploymentDate" class="label"></label>
                                <div class="inputBox-content">
                                    <input asp-for="EmploymentDate" type="date" class="form-control" formnovalidate />
                                    <span asp-validation-for="EmploymentDate" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="inputBox">
                                <label asp-for="StartWorkTime" class="label"></label>
                                <div class="inputBox-content">
                                    <input asp-for="StartWorkTime" type="time" class="form-control" />
                                    <span asp-validation-for="StartWorkTime" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="inputBox">
                                <label asp-for="EndWorkTime" class="label"></label>
                                <div class="inputBox-content">
                                    <input asp-for="EndWorkTime" type="time" class="form-control" />
                                    <span asp-validation-for="EndWorkTime" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="inputBox">
                                <label asp-for="LivingPlace" class="label"></label>
                        <div class="inputBox-content">
                                    <input asp-for="LivingPlace" class="form-control" />
                                    <span asp-validation-for="LivingPlace" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="inputBox">
                                <label asp-for="Phone" class="label"></label>
                                <div class="inputBox-content">
                                    <input asp-for="Phone" class="form-control" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="inputBox inputButton-group">
                                <div class="inputBox-btn">
                                    <button type="submit" class="button-primary btn-submit">Spara</button>
                                    <a asp-action="Index" class="button-secondary btn-submit">Avboka</a>
                                </div>
                            </div>
                        </form>
                    </div>
               </div>
        </div>  

</section>


<script defer src="~/js/courier_validation.js"></script>
<script defer src="~/js/main.js"></script>


