$register-background: '/images/Register.jpg';

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: url(#{$register-background});
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }

    .logo-container {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo img {
        display: block;
        height: 45px;
        border-radius: 5px;
        backdrop-filter: blur(10px);
        border-right: 2px solid rgba(255, 255, 255, .3);
        border-bottom: 2px solid rgba(255, 255, 255, .3);
    }

    .register {
        position: relative;
        width: 350px;
        height: 480px;
        border-radius: 15px;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        transition: 0.5s;
        overflow: hidden;
    }

    form {
        position: absolute;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        gap: 21px;
        transition: 0.5s;

        &::after {
            opacity: 1;
        }

        &::before {
            opacity: 1;
        }
    }

    form h2 {
        position: relative;
        color: $black;
        font-size: 1.5em;
        letter-spacing: 0.5em;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 10px;
    }

    form .inputBox {
        position: relative;
        width: 70%;
        display: flex;
        justify-content: space-between;
    }

    form .inputBox a {
        color: $black;
        text-decoration: none;
        font-size: 0.85rem;
    }

    form .inputBox p {
        color: $black;
        font-size: 0.85rem;
    }

    form .inputBox a#login {
        text-decoration: underline;
    }


    form .inputBox input {
        width: 100%;
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.25);
        background: rgba(0, 0, 0, 0.15);
        padding: 6px 15px;
        border-radius: 4px;
        font-size: 0.85em;
        color: $black;
        z-index: 10000;
    }

    form .inputBox input::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }

    form .inputBox input[type="submit"] {
        background: #f49a24;
        font-weight: 500;
        cursor: pointer;
        color: $white;
    }

    form .inputBox span {
        color: red;
        font-size: 0.75em;
        margin-top: 30px;
        position: absolute;
        bottom: -25px;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .container span {
        position: absolute;
        inset: 5px;
        overflow: hidden;
        border-radius: 15px;
    }

    .container span::before {
        content: '';
        position: absolute;
        inset: 5px;
        background: url(#{$register-background});
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        filter: blur(100px);
    }

    .container span::after {
        content: '';
        position: absolute;
        inset: 5px;
        background: url(#{$register-background});
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        filter: blur(15px);
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: $black !important;
    }
}
