.why {
     background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 1px, transparent, transparent, transparent), linear-gradient(to top, rgba(0, 0, 0, 1) 1px, transparent, transparent, transparent), url('/images/aurora_up.png');
   // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 1px, transparent, transparent, transparent), linear-gradient(to top, transparent, transparent, transparent, transparent), url('/images/aurora_up.png');
    background-position: center;
    min-height: 100vh;
    background-size: cover;
    color: $white;
    overflow: hidden;
    position: relative;
    top: -70px;

    &__inner {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        left: 50%;
        transform: translate3d(0, calc(var(--scrollTop) / 3), 0) translateX(-50%);
        transition: var(--transition);
        z-index: 10;
        will-change: transform;
    }

    &__title {
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: calc(var(--index) * 2);
        letter-spacing: calc(var(--index) / 5);
        font-weight: 600;
    }

    &__paragraph {
        font-weight: 400;
        text-align: center;
        font-size: calc(var(--index) * .9);
        max-width: calc(var(--index) * 30);
        letter-spacing: 2px;
    }

    &__img {
        width: calc(var(--index) * 6);
    }
}
.why .container{
    position:relative;
    top:-200px;
}