@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var footerClass = currentController == "Privacy" ? "footer-light" : "footer-dark";


}

@if (currentController != "Account" && currentController != "Courier" && currentController != "Order" && currentController != "Transport" && currentController != "Warehouse" && currentController != "Recepient" && currentController != "Transport" && currentController != "Invoice" && currentController != "InvoiceNoTax")
   

{
    <footer class="footer text-muted @footerClass">
        <div class="container">
            &copy; 2025 - Nordic Align Supply Chain Consulting AB - <a asp-area="" asp-controller="Privacy" asp-action="Index">Privacy</a>
        </div>
    </footer>
}



