@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var footerClass = currentController == "Privacy" ? "footer-light" : "footer-dark";
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
    var footerColor = currentController == "Privacy" ? "p-black" : "p-white";

}

@if (currentController != "Account" && currentController != "Courier" && currentController != "Order" && currentController != "Transport" && currentController != "Warehouse" && currentController != "Recepient" && currentController != "Transport" && currentController != "Invoice" && currentController != "InvoiceNoTax" && currentAction != "Error404")
   

{
    <footer class="footer  @footerClass">
        <div class="container" >
            <p class=" @footerColor" >
                &copy; 2025 - Nordic Align Supply Chain Consulting AB - <a asp-area="" asp-controller="Privacy" asp-action="Index">Privacy</a>

            </p>
        </div>
    </footer>
}



