@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
}

@if (currentController != "Account" && currentController != "Courier" && currentController != "Order" && currentController != "Transport" && currentController != "Warehouse" && currentController != "Recepient" && currentController != "Transport" && currentController != "Invoice" && currentController != "InvoiceNoTax")
   

{
    <footer class=" footer text-muted">
        <div class="container">
            &copy; 2025 - Nordic Align Supply Chain Consulting AB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
}



