

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nordic Align Supply Chain Consulting AB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>

    @await Html.PartialAsync("~/Views/Shared/_HeaderPartial.cshtml")

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await Html.PartialAsync("~/Views/Shared/_FooterPartial.cshtml")

    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
